$minimap_box_size: 10px;

.R,.D {
  width: $minimap_box_size;
  padding: 0 1em;
  height: $minimap_box_size;
  border: 1px solid white;
  float: left;
  color: white;
  line-height: $minimap_box_size;
  text-align: center;
  font-weight: bold;
}
.R {
  background: red;
}
.D {
  background: blue;
}